.card{
    z-index: 2;
    background-color: hsla(204, 19%, 26%, .7);
    border: 2px solid black;
    font-size: 12pt;
    margin: 50px;
}

.favoriteCard{
    background-color: #36454f;
    color: #DBAe85;
    border-radius: 5px;
    border: 1px solid;
    width: 250px;
    height: 50px;
    margin: 15px;
    cursor: pointer;
}

.favoriteCard:hover{
    background-color: #061283;
    color: #fff;
}
